{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="images/3d_printer.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="http:///ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'scripts/script.js' %}"></script>
    <title>3D принтеры</title>
</head>
<body>
    <div id="button-up">
        <span>Наверх</span>
    </div>
    <div class="navbar">
        <a href="\index">Главная страница</a>
        <a href="\main_info">Основная информация</a>
        <div class="dropdown">
          <button class="dropbtn">Гаджеты<i class="fa fa-caret-down"></i></button>
          <div class="dropdown-content">
            <a href="\VRAR">VR/AR</a>
            <a href="\Smartphone">Смартфоны</a>
            <a href="\Segway">Segway</a>
            <a href="\tablet">Планшеты</a>
            <a href="\3dprinter">3D Принтеры</a>
          </div>
        </div>
    </div>
    <br>
    <br>
    <h2 class="tip">Для быстрого перехода по статье, нажмите на одну из ссылок ниже:</h2>
    <div class="companies" align="left">
      <ul>
        <li><a href="#3d_printer" style="color: #12e5e5">3D принтер</a></li>
        <li class="li2"><a href="#history_of_3d_printer" style="color: #12e5e5">Появление 3D принтеров</a></li>
        <li class="li2"><a href="#3d_printers_nowadays" style="color: #12e5e5">3D принтеры в XXI веке</a></li>
      </ul>
    </div>
    <br>
    <br>
    <h1 id="3d_printer">3D принтер</h1>
    <br>
    <div class="vr_text">
        <p align="justify">3D-принтер — станок с числовым программным управлением, реализующий только аддитивные операции, то есть только добавляющий порции материала к заготовке. Обычно использует метод послойной печати детали.3D-печать является разновидностью аддитивного производства и обычно относится к технологиям быстрого прототипирования.</p>
        <p align="justify">3D-принтер состоит из корпуса, закрепленных на нем направляющих, по которым перемещается печатающая головка с помощью шаговых двигателей, рабочего стола, на котором выращивается изделие; и всё это управляется электроникой.</p>
        <img src="{% static 'images/3d_printer_winbo.jpg' %}" align="left" title="3D принтер Winbo">
        <p align="justify">Расходные материалы (филаменты) для 3D-принтеров представляют из себя пластиковые нити, намотанные на катушки. Расходные материалы бывают различных типов и свойств. О всех типах материалов можно почитать в энциклопедии 3Dtoday.
            Килограмм самого дешевого пластика можно купить за какие-то 500 руб., хотя более интересные варианты (например, имитаторы древесины или песчаника с наполнителями из настоящей древесины или камня) уже могут обойтись в несколько раз дороже.</p>
        <p align="justify">Нить (филамент) поступает в печатающую головку (Экструдер), в которой разогревается до жидкого состояния и выдавливается через сопло экструдера. Шаговые двигатели с помощью зубчатых ремней приводят в движение Экструдер, который перемещается по направляющим и наносит пластик на платформу слой за слоем. Снизу в вверх. В итоге ваше изделие растёт слой за слоем.</p>
    </div>
    <br>
    <br>
    <h1 id="history_of_3d_printer">Появление 3D принтеров</h1>
    <br>
    <div class="vr_text">
        <p align="justify">Концепция 3D-печати или быстрого прототипирования была придумана еще в далеких 1970-х годах, но первые эксперименты в этой области датируются 1981 годом. Технология задумывались как более дешевый и быстрый метод создания промышленных прототипов по сравнению с технологиями производства того времени.</p>
        <img src="{% static 'images/Charles_Hull.jpeg' %}" align="right" title="Чарльз Халл - изобретатель первого в мире 3D принтера">
        <p align="justify">Самая первая патентная заявка на технологию быстрого прототипирования была подана доктором Кодама в Японии в мае 1980 года. Он был первым, кто описал метод создания объекта с помощью послойного наложения, создав аппарат для стереолитографии, где светочувствительная смола была полимеризована ультрафиолетовым излучением. По иронии судьбы доктор Кодама не смог зарегистрировать патент, так как не представил полное описание патента в течении года после подачи заявки, а он был, на минутку, патентным юристом! Вот так не повезло</p>
        <p align="justify">В 1986 году был выдан первый патент на стереолитографическое устройство (SLA). Этот патент принадлежал Чарльзу Халлу, который в 1983 году изобрел машину SLA. Халл стал соучредителем 3D Systems Corporation - одной из крупнейших организаций, работающех и по сей день в секторе 3D-печати.</p>
        <p align="justify">Первая коммерческая система 3D Systems SLA-1 была представлена ​​в 1987 году, и после тщательного тестирования одна из этих систем была продана в 1988 году.</p>
        <p align="justify">На видео вы можете познакомиться с "отцом" 3D принтеров:</p>
        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/3uYsviZ8Cuo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
        <br>
        <p align="justify">С того времени было придумано еще около десятка, а может и больше технологий 3d-печати. Но привычную нам технологию FDM печати придумали в 1989 году. В этот время Скоттом Крампом, который был соучредителем компании Stratasys Inc, был подан патент на технологию Fused Deposition Modeling (FDM). Промышленный FDM принтер тех времен выглядел вот так:</p>
        <img src="{% static 'images/3d.jpg' %}" align="left" width="200" height="200" title="Один из первых 3D принтеров, использующий технологию FDM">
        <p align="justify">Все начало меняться с 2006 года, когда был основан проект RepRap (от англ Replicating Rapid Prototyper - само-воспроизводящийся механизм для быстрого изготовления прототипов), имеющий своей целью создание само-копирующего устройства, которым являлся 3д принтер, работающий по технологии FDM (послойное наплавление). Только в отличие от дорогостоящих промышленных аппаратов он был похож на неказистое изобретение из подручных средств. Рамой служат металлические валы, они же служат направляющими для печатающей головки. которой управляют простые шаговые двигатели. Программное обеспечение имеет открытый код. Почти все соединяющие детали печатаются из пластика на самом 3д принтере. Данная идея зародилась в среде Английский ученых и ставила своей целью распространение доступных аддитивных технологий, чтобы пользователи могли, скачивая 3д модели в сети интернет, создавать необходимые изделия, максимально сокращая таким образом производственную цепочку.</p>
        <img src="{% static 'images/anet_a8.jpg' %}" align="right" title="3D принтер Anet A8 - один из доступных обычному потребителю">
        <p align="justify">Оставив в стороне идеалогическую составляющую, сообществу (существующему и развивающемуся по сей день) удалось создать доступный "обычному человеку" 3d принтер. Так набор непечатанных деталей может стоить в районе пары сотен долларов США а готовый аппарат от 500 долларов. И пусть эти устройства выглядели неказисто и существенно уступали по качеству промышленным аналогам, все это доло невероятный толчок для развития технологии 3д печати.
            По мере развития проекта RepRap, начали появляться 3d принтеры, взявшие за основу заложенную движением базу в техническом и, иногда, идеалогическом плане (например приверженность концепции открытого кода - OpenSource). Компании, производившие принетры старались сделать их более качественными как в плане рабочих характеристик, так и в плане дизайна и user experience. Первые принтеры RepRap нельзя назвать комерческим продуктом, так как управлять им не так уж просто (а собрать тем более) а добиться стабильных результатов работы получается не всегда. Тем не менее компании старались сократить более чем существенный разрыв в качестве, по возможности оставляя существенный разрыв в стоимости.</p>
        <br>
        <br>
        <h1 id="3d_printers_nowadays">3D принтеры в XXI веке</h1>
        <br>
        <p align="justify">Интересует, что можно печатать на 3D принтере? Да много чего: детские и елочные игрушки, сувенирную продукцию, чехлы для мобильных телефонов и планшетов, всевозможные механизмы для автомобилей, множество различных украшений. 3D принтеры стали незаменимыми в строительстве, медицине, пищевой промышленности, их услугами пользуются во многих дизайнерских студиях.</p>
        <p align="justify">Принтер поможет напечатать колпачок для обычной ручки, хозяйственные прищепки, мебельную фурнитуру, пластиковые украшения на елку, детские игрушки, интересные маски. Любой владелец мобильного телефона или планшета не откажется от идеи изготовить оригинальный защитный чехол, ведь сделать его с помощью принтера не составит особых трудностей. Если вы являетесь почитателем игры в шахматы, фигуры, выполненные при помощи технологии трехмерной печати, непременно придутся вам по душе.</p>
        <p align="justify">Несомненно, 3D-принтеры являются огромным прорывом в медицинской отрасли. С каждым годом эта индустрия развивается, расширяя ассортимент производимых товаров. Возможно, вскоре появятся большие фабрики, которые смогут сравнительно за короткое время производить необходимые товары. Возможности этих трехмерных устройств безграничны. Они нашли применение во многих направлениях медицины.</p>
        <img src="{% static 'images/bioprinting.jpg' %}" align="left" title="Применение 3D принтера в медицине">
        <p align="justify">Особой популярностью пользуются принтеры в стоматологии, где с их помощью изготовляют временные коронки и челюстные имплантаты, необходимые для нормальной жизни человека. Производство челюстных аппаратов важно для облегчения работы хирургов.</p>
        <p align="justify">3D-печать очень востребована в протезировании. Эта технология способна учитывать индивидуальность строения человеческого тела во время изготовления протезов. Специальные микрополости, находящиеся в нужных местах протезных систем, позволяют здоровым клеткам тканей беспрепятственно перемещаться, тем самым облегчая и ускоряя привыкание человека к протезу.</p>
        <p align="justify">Технология трехмерной печати широко используется при изготовлении имплантатов. Известно, что недавно успешно проведена операция, позволившая внедрить кусок черепа. Сначала было проведено 3D-сканирование, лишь затем приступили к созданию необходимой модели.</p>
        <p align="justify">Пока только несколько компаний производят строительные принтеры. Стоимость самой дешевой модели превышает 12 тысяч евро. Даже несмотря на среднюю высоту, это устройство может делать дома, объем которых 144 м3. Пока нет идеальной модели, которая бы полностью удовлетворила инженеров и строителей. Тем не менее во многих странах активно ведется работа по усовершенствованию 3D-технологии.</p>
        <img src="{% static 'images/3d_building.jpg' %}" align="right" title="3D принтер в строительстве домов">
        <p align="justify">Китайская компания «Winsun» в 2014 году удивила мир информацией о возведении домов при помощи огромного 3D-принтера (высота устройства — 6,6 м, ширина – 10 м, длина – 40 м). Эта уникальная машина работает круглосуточно без остановки и наблюдателей, построить дом можно практически за сутки.</p>
        <p align="justify">Технология строительства заключается в послойном нанесении раствора, приготовленного из цемента и переработанного строительного мусора. Дом имеет пол, стены шириной около 30 см, полностью приспособлен к размещению сантехники, электропроводки и других коммуникаций. Какова окончательная стоимость строения пока доподлинно неизвестно, однако, уже сейчас понятно, что за этой революционной технологией будущее. Единственный недостаток – это стоимость перевозки готового дома, гаража или другой постройки, ведь строительный принтер немобилен и для нормальной работы требует заводских условий.</p>
        <p align="left">3D принтеры начали в полной мере раскрывать свои возможности только сейчас. Посмотрите видео о том, где ещё применяется данное устройство, возможности которого практически безграничны:</p>
        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/GV8zPtqOyqg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    </div>
</html>