{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/segway.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="http:///ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'scripts/script.js' %}"></script>
    <title>Segway</title>
</head>
<body>
    <div id="button-up">
        <span>Наверх</span>
    </div>
    <div class="navbar">
        <a href="\index">Главная страница</a>
        <a href="\main_info">Основная информация</a>
        <div class="dropdown">
          <button class="dropbtn">Гаджеты<i class="fa fa-caret-down"></i></button>
          <div class="dropdown-content">
            <a href="\VRAR">VR/AR</a>
            <a href="\Smartphone">Смартфоны</a>
            <a href="\Segway">Segway</a>
            <a href="\tablet">Планшеты</a>
            <a href="\3dprinter">3D Принтеры</a>
          </div>
        </div>
    </div>
    <br>
    <br>
    <h2 class="tip">Для быстрого перехода по статье, нажмите на одну из ссылок ниже:</h2>
    <div class="companies" align="left">
      <ul>
        <li><a href="#segway" style="color: #12e5e5">Segway</a></li>
        <li class="li2"><a href="#types_of_segways" style="color: #12e5e5">Виды сегвеев</a></li>
        <li class="li2"><a href="#choice" style="color: #12e5e5">Как выбрать сегвей?</a></li>
      </ul>
    </div>
      <br>
      <br>
    <h1 id="segway">Segway</h1>
    <br>
    <center><img src="{% static 'images/segway.jpg' %}" title="Сeгвей компании Eswing"></center>
    <br>
    <br>
    <div class="vr_text">
        <p align="justify">Segway (рус. «Сегвэй») — электрическое самобалансирующееся транспортное средство компании Segway Inc. с двумя колёсами, расположенными по обе стороны от водителя, внешне напоминающее колесницу. Изобретено Дином Кейменом. Название фирмы производителя, перенесённое и на само транспортное средство — «Segway» — происходит от музыкального термина «се́гве» (итал. segue [ˈsegwe], что в переводе означает «следуй, иди за»). В качестве названий используются также слова «самокат» и «скутер».</p>
        <img src="{% static 'images/Dean Kamen.jpg' %}" align="left" title="Дин Кеймен - изобретатель сегвея">
        <p align="justify">Первые экспериментальные образцы транспортного средства Segway имели кодовое название «Ginger» и именно под этим названием появились первые сведения об устройстве в интернете.</p>
        <p align="justify">Два колеса транспортного средства Segway расположены соосно. Транспортное средство Segway автоматически балансируется при изменении положения корпуса ездока; для этой цели используется система индикаторной стабилизации: сигналы с гироскопических и жидкостных датчиков наклона поступают на микропроцессоры, которые вырабатывают электрические сигналы, воздействующие на двигатели и управляющие их движениями. Каждое колесо транспортного средства Segway приводится во вращение своим электродвигателем, реагирующим на изменения равновесия машины.</p>
        <p align="justify">При наклоне тела ездока вперёд сегвей начинает катиться вперёд, при увеличении же угла наклона тела ездока скорость сегвея увеличивается. При отклонении корпуса назад самокат замедляет движение, останавливается или катится задним ходом. Руление в первой модели происходит с помощью поворотной рукоятки, в новых моделях — качанием колонки влево-вправо.</p>
        <p align="justify">Транспортное средство Segway развивает скорость около 50 км/ч и имеет собственную массу около 40 кг (без батареи), его ширина 60 см, а допустимая нагрузка — 140 кг. Аккумулятор обеспечивает пробег до 39 км. В зависимости от модели эти показатели могут варьироваться. Специально для оснащения ими устройства транспортного средства Segway, разработаны компактные, но достаточно мощные (2 л. с.) электродвигатели. Каждый из них через редуктор связан со своим колесом. Самокат может двигаться не только по асфальту, но и по грунту.</p>
        <p align="justify">На разработку транспортного средства компании Segway Inc., представленного публике в 2001 году, изобретатель затратил около десяти лет.</p>
    </div>
    <h1 align="left" id="types_of_segways">Виды сегвеев</h1>
    <br>
    <div class="vr_text">
        <p align="left">Модельный ряд сегвеев предлагает самокаты на разные случаи жизни и потребности. Например, у производителя есть устройства для:</p>
        <ul>
            <li>Быта;</li>
            <li>Офиса;</li>
            <li>Охранных служб.</li>
        </ul>
        <img src="{% static 'images/segway_basic_life.jpg' %}" align="right" title="Использование сегвея в быту">
        <p align="justify">Бытовые умные машины рассчитаны на максимальную длину пути без подзарядки в 38 километров. При этом показатель предельной скорости у них варьируется от 14 до 20 км/ч.</p>
        <p align="justify">Офисным сотрудникам подойдут виды сигвеев, которые предназначены только для данной узкой спецификации. Такие аппараты весят 50-55 кг, развивают скорость до 20 км/ч и могут пройти без подзарядки до 18-19 километров.</p>
        <p align="justify">Сотрудникам складов, которым быстро нужно преодолевать за день большие расстояния, маневрируя между погрузчиками и другой складской техникой, создатели электрической колесницы предлагают аппараты, развивающие скорость до 20 км/ч. При этом устройства весят от 48 до 55 кг и могут без подзарядки проходить до 35 километров в день.</p>
        <p align="justify">Охранные службы могут «поставить» своих пеших сотрудников на сегвеи, которые развивают скорость до 20 км/ч, и проходящие без подсоединения к розетке от 25 до 38 километров за дежурство. Узнать принадлежность умного аппарата к разряду «спецслужб» можно по приписке в названии «PATROLLER».</p>
    </div>
    <h1 align="center" id="choice">Как выбрать сегвей?</h1>
    <div class="vr_text">
        <p align="justify">Чтобы выбрать собственную электроколесницу, нужно изучить предлагаемое устройство и принцип работы. Также рекомендуется определиться, для каких целей подбирается аппарат. Почти все городские виды американских самокатов разгоняются до 20 км/ч. Максимальная скорость зависит от веса наездника и его стиля езды.</p>
        <p align="justify">Современные двухколесные эклектроколесницы выдерживают вес человека до 150 кг. Минимальный вес наездника не должен быть меньше 45 кг, если устройство предназначено для взрослых. Нужно помнить, что чем большая ноша давит на чувствительные датчики, тем меньше предел развиваемой скорости.</p>
        <img src="{% static 'images/tires.jpg' %}" align="left" title="Шины сегвея с рифленым узором">
        <img src="{% static 'images/gyroscooter.jpg' %}" align="right" title="Гироскутер (мини версия сегвея)">
        <p align="justify">Производители предлагают двухколесные аппараты как для катания по городу, так и внедорожники. Различить эти два вида сегвеев можно по колесам, у последнего они более мощные, с рифленым узором на шинах. Машина для асфальтированных дорожек мегаполиса имеет меньшие габаритные размеры. Внедорожники, кроме массивных колес, имеют большие габариты и более емкую батарею.</p>
        <p align="justify">С начала 2010 года на тротуарах городов появились упрощенные модификации классических сигвеев - мини-аппараты. У них нет руля, но может быть сиденье. Такие копии весят меньше и дешевле по стоимости. Страной производителем мини-колесниц является Китай.</p>
        <p align="justify">Еще одной дешевой разновидностью громоздкого умного механизма являются гироскутеры. Такие аппараты имеют чувствительную платформу для ног и два колеса. Управление происходит при помощи чувствительных датчиков, расположенных под ступнями ездока. Последняя вариация распространена среди подростков и детей школьного возраста.</p>
    </div>
    <h1 class="AR_header">Ведущими компаниями, производящие устройства Segway и гироскутеры, являются:</h1>
    <ul class="companies">
        <div class="list_of_companies">
        <li><a href="https://smartbalance.ru/" style="color: #12e5e5">Smart Balance</a></li>
        <li class="li2"><a href="http://www.segway.ru/" style="color: #12e5e5">Segway</a></li>
        <li class="li2"><a href="https://ninebot.ru/#segway-ninebot-mini" style="color: #12e5e5">Ninebot (Xiaomi)</a></li>
        </div>
    </ul>
    <h1>Также, можно посмотреть видеоматериал, рассказывающий о сегвеях более подробно</h1>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/A7IHnOU0jGk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</html>